# Force CRLF line endings (Windows style)
# on checkout of all text files 
*       text=auto eol=crlf

# Exclude git related files from exporting into the release .zip/.tar.gz files
.git*   export-ignore