# files for git to ignore
*.exe
*.zip
config.yaml
sandbox.ps1
.prettierrc
scratchpad.txt
lock.pid
# excludes the version subdirectory (the module) when stored within 
# Documents\WindowsPowerShell\Modules\TaskTamer
*.*.*/